---
interface Props {
  title: string;
  src: string;
  portions: number;
  price: number;
  diameter?: number;
}

const { src, title, portions, price, diameter } = Astro.props;
---

<div class="col-12 col-lg-4 pt-5 pb-5">
  <div class="card">
    <img class="card-img-top" src={src} alt="Card image cap" />
    <div class="card-body">
      <p class="card-title">{title}</p>
      <p class="card-text">
        <span> <span class="fw-bold">Raciones:</span> {portions}</span>
        <span> <span class="fw-bold"> Precio:</span> {price}€</span>
      </p>
     {diameter && (
        <p class="card-text">
          <span> <span class="fw-bold">Diámetro:</span> {diameter} cm</span>
        </p>
      )
      }
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>

<style>
  .card-text {
    display: flex;
    justify-content: space-between;
    /* font-family: "Dancing Script", cursive; */
    font-family: "Mali";
  }
  .card-text span {
    font-size: 1rem;
  }
  .card-title {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Mali";
  }
</style>
